@using TestingSystem.BLL.Models
@model List<ThemeModel>

@{
    ViewBag.Title = "Доступные темы";
}

<h3>Доступные темы: <span style="border: 1px solid black; background-color: #303030; border-radius: 3px; color: white">@Model.Count</span></h3>
<ol>
    @foreach (ThemeModel t in Model)
    {
        <li>
            <a href="~/Home/SelectedTheme?themeModel=@t">@t.Name</a>
        </li> 
    }
</ol>
