@{
    ViewBag.Title = "Contact";
}

<address>
    Written by <a href="mailto:webmaster@example.com">Igor Demidov</a>.<br>
    Visit us at:<br>
    igordemidov.com<br>
    1, Independence ave., Minsk, 220000<br>
    Republic of Belarus
</address> 