@using TestingSystem.BLL.Models
@model List<ThemeModel>

@{
    ViewBag.Title = "Главная";
    ViewBag.Message = "Тестирование знаний по доступным темам.";
}

<h3>Доступные темы:</h3>
<ol>
    @foreach (ThemeModel t in Model)
    {
        <li>
            <a href="~/Home/SelectedTheme?themeModel=@t">@t.Name</a>
        </li> 
    }
</ol>
