@{
    ViewBag.Title = "Главная";
}

<div>
    <h2>Добро пожаловать!</h2>

    <p>Данный сайт предназначен для контроля и укрепления знаний по английскому языку.</p>

    <p>Учите английский язык самостоятельно и тестируйте преобретенные знания с помощью <abbr title="Система тестирования знаний">СТЗ</abbr>!</p>

    <p>
        Aнглийский язык в данный момент - это глобальный язык передачи информации как в бизнес среде,
        так и в повседневном общении. К примеру, - вы отправитесь на отдых в какую-либо страну.
        Если вы знаете английский, вы преспокойно закажете себе обед хоть в ваш номер, хоть за ваш столик
        - и не будете теперь смотреть на меню, как на новые ворота. Дело в том, что этот язык понимают везде,
        где есть туристы или просто приезжие.
    </p>

    <p>
        Что же касается работы, то если вы знаете английский язык, - вам открываются поистине
        большие перспективы устройства на работу как в отечественных крупных компаниях, так и за рубежом.
        Если вы заявите о своем умении общаться на этом языке, то вам это может сулить должность, которая
        хорошо оплачивается. Многие корпорации и крупные предприятия контактируют с иностранными партнерами -
        и им нужны специалисты, владеющие английским.
    </p>

    <p>Таким образом, английский язык в действительности улучшит качество вашей жизни во всех сферах.</p>

</div>