@model List<string>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <table>
            <thead>
            <tr>
                <th>Доступные темы:</th>
            </tr>
            </thead>
            <tbody>
            @foreach (string s in Model)
            {
                <tr><td><a href="~/Views/Home/SelectedTheme?themeName=@s">@s</a></td></tr>
            }  
            </tbody>
        </table>
    </div>
</body>
</html>
