@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Начать тест</title>
</head>
<body>
    <div>
        <h1>@ViewBag.ThemeName</h1>
        <input type="SUBMIT" name="BN" value="Начать тест">
    </div>
</body>
</html>