@{
    ViewBag.Title = "Test Result";
}

<div>
    
    <h2>Результаты теста:</h2>
    <hr>

    <table class="table-info">
        <caption></caption>
        <tr>
            <th>Всего вопросов:</th>
            <td></td>
        </tr>
        <tr>
            <th>Правильных отвечено:</th>
            <td></td>
        </tr>
        <tr>
            <th></th>
            <td>%</td>
        </tr>
    </table>
</div>