html {
    font-family: sans-serif;
}

body {
    min-width: 715px;
}

header {
    color: white;
    background-color: black;
    width: 100%;
    min-width: 700px;
    height: 100px;
    margin: 0;
}

nav {
    width: 100%;
    text-align: right;
}


footer {
    background-color: black;
    color: white;
    font-size: 70%;
    text-align: center;

}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.a-button {
    border: 1px solid black;
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: black;
    color: white;
    padding: 3px;
    text-decoration: none;
    margin: 10px;
}

.table-info {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    margin: 10px;
}

.table-info th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.table-info th{
    background-color: #f0f0f0;
    color: black;
}

.table-info caption{
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}



/*_layout*/

#img-logo {
    width: 100px;
    height: 100px;
    margin: 0;
}

#header-title {
    display: inline-block;
}

/*login*/

.login {
    display: block;
}

.login li{
    margin-bottom: 5px;
    margin-right: 15px;
    list-style-type: none;
    text-align: right;
}

.login li a {
    border: 1px solid white;
    -ms-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
    background-color: black;
    color: white;
    padding: 2px;
    text-decoration: none;
    font-size: 70%;
}

.login li a:hover {
    background-color: white;
    color: black;
}

/*nav*/

nav ul {
    margin: 0;
    font-size: 70%;
}

nav ul li {
    display: inline;

}

nav ul li a{
    text-decoration: none;
    border: 1px solid black;
    background-color: black;
    border-radius: 0px 0px 5px 5px;
    color: white;
    padding: 2px;
}

nav ul li a:hover {
    background-color: white;
    color: black;
}


/*View: themes*/

#ol-themes a {
    text-decoration: none;
    color: black;
}

#ol-themes a:hover {
    background-color: grey;
    color: white;
    border: 1px solid black;
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding: 2px;
}