<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/Content/Images/testingsystem.ico" rel="shortcut icon" type="image/x-icon"/>
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width"/>
    </head>
<body>

<header>
    <div class="float-left">
        <a href="~/Home/Index">
            <img id="img-logo" src="~/Content/Images/testingsystem.jpg" alt="Система тестирования знаний">
        </a>
    </div>

    <h1 id="header-title">Система тестирования знаний<br><span style="font-size: 50%; margin:0">по английскому языку</span></h1>
    <div class="float-right">
        <div class="login">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</header>

<nav>
    <ul>
        <li><a href="~/Home/Index">Главная</a></li>
        <li><a href="~/Home/Themes">Темы</a></li>
        <li><a href="~/Home/Contact">Контакты</a></li>
    </ul>
</nav>

<section>
    @RenderBody()
</section>

<footer>
    <p> Designed by Igor Demidov</p>
</footer>

</body>
</html>
